<!DOCTYPE html>
<html ng-app="view">
<head>
<!-- <meta http-equiv="refresh" content="3;#"> -->
	<meta charset="utf-8">
	<title>Round Robin c/ Fila de Prioridade</title>
	<link rel="stylesheet" type="text/css" href="../../includes/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../includes/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../includes/style.css">
</head>
<body ng-controller="viewController">
	<div class="container-fluid">
		<h2>
			Algorítmo Round Robin com Fila de Prioridade
			<small>
				<a href="../index.html">Voltar</a>
			</small>
		</h2>

		<hr>

		<div class="row">
			<div class="col-xs-12">
				<h3>Cores <small>({{processosExecutando.length}})</small></h3>
				<div class="nucleo" ng-class="processo.colorClass" ng-repeat="processo in processosExecutando track by $index">
					{{processo.nome}}<br />
					{{processo.tempo}}<span ng-show="processo.tempo > 0">s</span><br />
					{{processo.tamanho}}<span ng-show="processo.tamanho > 0">b</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h3>Memória <small>({{memoria.tamLivre}}b livres de {{memoria.tamanho}}b em {{memoria.blocos.length}} blocos)</small></h3>
				<div class="nucleo" ng-class="bloco.colorClass" ng-repeat="bloco in memoria.blocos track by $index">
					{{bloco.tamanho}}b<br />
					{{bloco.status}}<br />
					{{bloco.usos}}<span ng-show="bloco.usos > 0">x</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h3>Processos Aptos <small>({{processosAptos[0].length + processosAptos[1].length + processosAptos[2].length + processosAptos[3].length}})</small></h3>
				<div class="col-xs-3" ng-repeat="processo in processosAptos track by $index">
					<div class="col-xs-12" ng-show="$index == 0">
						<strong>Fila 0</strong> &emsp; Quantum: <strong>{{quantumF0}}</strong>
					</div>
					<div class="col-xs-12" ng-show="$index == 1">
						<strong>Fila 1</strong> &emsp; Quantum: <strong>{{quantumF1}}</strong>
					</div>
					<div class="col-xs-12" ng-show="$index == 2">
						<strong>Fila 2</strong> &emsp; Quantum: <strong>{{quantumF2}}</strong>
					</div>
					<div class="col-xs-12" ng-show="$index == 3">
						<strong>Fila 3</strong> &emsp; Quantum: <strong>{{quantumF3}}</strong>
					</div>
					<div class="nucleos">
						<div class="nucleo" ng-class="fila.colorClass" ng-repeat="fila in processo track by $index" id={{fila.id}}>
							{{fila.nome}}<br />
							{{fila.tempo}}<span ng-show="fila.tempo > 0">s</span><br />
							{{fila.tamanho}}b
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h3>Processos Finalizados <small>({{processosFinalizados.length}})</small></h3>
				<div class="nucleo" ng-class="processo.colorClass" ng-repeat="processo in processosFinalizados track by $index">
					{{processo.nome}}<br />
					{{processo.processamentos}}<span ng-show="processo.processamentos > 0">x</span><br />
					{{processo.tamanho}}b
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h3>Processos Abortados <small>({{processosAbortados.length}})</small></h3>
				<div class="nucleo" ng-class="processo.colorClass" ng-repeat="processo in processosAbortados track by $index">
					{{processo.nome}}<br />
					{{processo.processamentos}}<span ng-show="processo.processamentos > 0">x</span><br />
					{{processo.tamanho}}b
				</div>
			</div>
		</div>

		<div class="row hidden" id="quickEnable">
			<div class="col-xs-12">
				<h3>Filas de Blocos <small>({{contadorDeProcessamentos}} de {{limiteDeProcessamentos}} processamentos)</small></h3>
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>Fila Genérica de Blocos <small>({{filaDeBlocosGenericos.length}} blocos)</small></h3>
					</div>
					<div class="panel-body">
						<div class="nucleo" ng-class="bloco.colorClass" ng-repeat="bloco in filaDeBlocosGenericos track by $index">
							{{bloco.tamanho}}b<br />
							{{bloco.status}}<br />
							{{bloco.usos}}<span ng-show="bloco.usos > 0">x</span>
						</div>
					</div>
				</div>

				<div class="panel panel-default" ng-repeat="fila in filasDeBlocos track by $index">
					<div class="panel-heading">
						<h3>{{fila.tamanho}}<span ng-show="fila.tamanho != 'vazio'">b</span> <small>({{fila.blocos.length}} blocos disponiveis - utilizados {{fila.usos}} vezes)</small></h3>
					</div>
					<div class="panel-body">
						<div class="nucleo" ng-class="bloco.colorClass" ng-repeat="bloco in fila.blocos track by $index">
							{{bloco.tamanho}}b<br />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="rodape"></div>
	
	<div class="menu-suspenso">
		<div class="option" ng-click="adicionaProcesso()">
			<i class="fa fa-plus"></i>
		</div>
		<div class="option" ng-click="iniciaProcessamento()">
			<i class="fa fa-play"></i>
		</div>
	</div>

	<script type="text/javascript" src="../../includes/jquery.min.js"></script>
	<script type="text/javascript" src="../../includes/angular.min.js"></script>
	<script>
		var app = angular.module('view', []);
		app.factory('Scopes', function($rootScope) {
			var mem = {};
			return {
				store : function(key, value) {
					mem[key] = value;
				},
				get : function(key) {
					return mem[key];
				}
			};
		});
	</script>
	<script type="text/javascript" src="roundRobin.js"></script>
</body>
</html>